body{
    background: white!important;
}
body .ibox-content{
    background: #f1f1f1;
}
.node-tree-item{
    height: 32px;
    line-height: 32px;
    position: relative;
    margin: 0;
    cursor: pointer;
    display: none;
}
.class-active>.node-tree-item{
    display: block;
}
.node-tree-item .fa-ellipsis-v{
    display: none;
    color: white;
    position: absolute;
    padding: 8px 10px;
    top: 0px;
    font-size: 18px;
    right: 0px;
    cursor: pointer;
}
.node-tree-item.active{
    color: #FFFFFF;
    background-color: #428bca;
}
.node-tree-item.active .node-tree-item{
    color: #676a6c;
}
.node-tree-item.active>.fa-ellipsis-v{
    display: block;
}
    
.node-tree-item:hover{
    background-color: #F5F5F5;
}
.node-tree-item.active:hover{
    background: #428bca;
}
.node-tree-item span.glyphicon{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.node-tree-ind>span:nth-child(1){
    margin-left: 5px;
}
.node-tree-ind1>span:nth-child(1){
    margin-left: 25px;
}
.node-tree-ind2>span:nth-child(1){
    margin-left: 45px;
}
.node-tree-in3>span:nth-child(1){
    margin-left: 65px;
}

.coporation-btn-list{
    width: 150px;
    position: absolute;
    left: calc(100% - 20px);
    top: 100%;
    height: auto;
    background: #ffffff;
    z-index: 10;
    color: #656565;
    box-shadow: 0px 0px 6px #cacaca;
}
.coporation-btn-list p{
    padding: 0 10px;
    margin: 0;
}
.coporation-btn-list p:hover{
    background: #f5f5f5;
    cursor: pointer;
}
.coporation-btn-list:before{
    content: '';

}
.default-backmood{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ty-query-header{
    padding: 10px 15px;
}
.ty-query-header input{
    position: relative;
    top: -2px;
    text-align: left;
}
.ty-content{
    width: 100%;
    overflow: auto;
    padding: 0 15px;
}
.ty-lay-250{
    width: 250px;
    float: left;
}
.ty-lay--250{
    width: calc(100% - 260px);
    padding-left: 20px;
    float: left;
}
.ty-lay--250 .top-btn{
    padding: 0 0 15px;
}

.modal .modal-dialog  .form-group input{
    text-align: left;
}
.modal .modal-dialog .form-group{
    overflow: auto;
    line-height: 32px;
}