/*
    全局参数配置
 */
$btn-height: 32px;
$table-height: 37px;
$coop-color: #e6f7ff;
$active-color: #1890ff;
$table-border-color: #ebeef5;

//  页面过度效果
.slide-fade-enter-active{
    transition: all .3s ease;
}
.slide-fade-leave-active{
    transition: all .3s cubic-bezier(1,.5,.8,1);
}
.slide-fade-enter,.slide-fade-leave-active{
    // transform: scale(.5,.5);
    opacity: 0;
}

// 全局样式
.hidden{
    display: none;
}
.permit{
    -webkit-pointer-events: none;
    pointer-events: none;
    background: #d2d2d2;
    color: #ffffff;
    border-color: #d2d2d2;
}
.pointer{
    cursor: pointer;
}
.btn{
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    margin: 0 5px;
    border: 1px solid #d2d2d2;
    display: inline-block;
    background: white;
    color:rgba(0,0,0,0.65);
    border-radius: 3px;
    cursor: pointer;
    &.active{
        background: $active-color;
        color: #fff;
        border-color: $active-color;
    }
    &:active{
        box-shadow: 0 2px 4px #aaaaaa;
        opacity: .8;
    }
}
input::placeholder{
    color: rgba(0,0,0,.35);
}
//  遮罩层
.el-loading-mask.is-fullscreen{
    background-color: rgba(41, 41, 41, 0.58);
}
.el-loading-spinner:before{
    content: "\67E5\8BE2\4E2D.....";
    position: relative;
    left: 130px;
    top: -20px;
    color: #d6d6d6;
}

//  公用列表样式
.el-table{
    font-size: 13px;
    border-right: 1px solid $table-border-color!important;
    text-align: left;
    &::before{
        height: 0px;
    }
    .el-table__empty-block{
        height: 360px;
        background: url("../../assets/images/table-empty.png") no-repeat center;
        span{
            color: transparent;
        }
    }
    thead{
        th{
            padding: 0;
            height: $table-height;
            line-height: $table-height;
            border-left: 1px solid $table-border-color;
            background: #f3f3f3;
            .cell{
                white-space: pre;
            }
            .el-checkbox__inner{
                z-index: 0;
            }
        }
    }
    tbody{
        td{
            padding: 0;
            height: $table-height;
            line-height: $table-height;
            border-left: 1px solid $table-border-color;
            .el-tag{
                background: none;
                border: none;
                cursor: pointer;
                white-space: inherit;
            }
            .el-button{
                border: none;
                color: $active-color;
                padding: 0 8px 0 0;
                border-right: 1px solid $table-border-color;
                border-radius: 0px;
                margin-left: 6px;
                background: transparent;
                &:last-child{
                    border-right: none!important;
                }
            }
        }
    }
}

//  整体布局配置
.right-content{
    width: calc(100% - 240px);
    float: right;
    height: 100%;
    transition: width .3s ease;
    .content-wrapper{
        width: calc(100% - 30px);
        height: calc(100% - 80px);
        background: #efefef;
        float: left;
        padding: 15px;
        .system-wrapper{
            background: white;
            height: calc(100% - 100px);
            border-radius: 0 0 5px 5px;
            overflow-y: auto;
            padding-bottom: 40px;
            .ty-content{
                padding: 0 15px;
                .ty-query-list{
                    padding: 10px 0;
                }
                .ty-total-info{
                    border-radius: 3px;
                    background: $coop-color;
                    padding: 10px;
                    margin-bottom: 10px;
                    border: 1px solid #bbdeff;
                    label{
                        color: $active-color;
                    }
                }
                .ty-page-split{
                    position: fixed;
                    width: calc(100% - 290px);
                    right: 15px;
                    bottom: 15px;
                    padding: 6px 10px;
                    background: $coop-color;
                    border-radius: 0 0 5px 5px;
                    text-align: right;
                }
            }
        }
    }
}
.mini-mode .right-content{
    width: calc(100% - 60px);
}


/**************************************************
                系统管理页面样式
 **************************************************/
.tenant-content{
    &>div:nth-child(1){
        margin-top: 20px;
    }
}